[package]
name = "pico2w-rush"
version = "0.1.0"
edition = "2021"

[dependencies]
embassy-executor = { version = "0.3", features = ["arch-cortex-m", "executor-thread"] }
embassy-time = "0.3"
embassy-rp = { version = "0.3", features = ["rp2350", "time-driver", "pio", "cyw43"] }
embassy-net = { version = "0.3", features = ["dhcpv4", "tcp", "dhcpv4-hostname"] }
cyw43-pio = "0.1"
defmt = "0.3"
defmt-rtt = "0.4"
panic-probe = { version = "0.3", features = ["print-defmt"] }
static_cell = "2.0"
