# .cargo/config.toml

[unstable-features]
build-std = ["core", "alloc"]

[build]
target = "thumbv8m.main-none-eabihf"

[target.thumbv8m.main-none-eabihf]
runner = "probe-rs run --chip RP2350A"
rustflags = [
  "-C", "link-arg=-Tlink.x",
  # THIS LINE IS ESSENTIAL to fix E0152 when using -Z build-std
  "-C", "link-arg=-nodefaultlibs", 
]
